html, body {
  height: 100%;
  margin: 0;
}

.main {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.text-soft {
  color: #e0e0e0;
}

a.text-soft:hover {
  color: #e0e0e0;
}

.highlight {
  color: #95d2d2;
}

a.highlight:hover {
  color: #5f8686;
}

.heading {
  color: #95d2d2;
}

.subheading {
  color: #82b3b3;
}

.subsubheading {
  color: #729e9e;
}

.link {
  color: #729e9e;
}

a.link:hover {
  color: #5f8686;
}